.MiNavigation {     
    height: 40px;
  }

  
.search-input {
  padding: 10px 10px;
  height: 52px;
  position: relative;
}
  
.MiFooter {
  height: 40px;
}
/*65px*/

.MiHeaderWhenLogged {
  height: 50px;
}

.MiInputField{
  height: 20px;
}

.MiModal { width: 50%  ;  min-height: 74%}
.MiModalVuelo { width: 50%  ;  min-height: 80%}

.MiTabla{ height: 5px;}

.MiSearchBar{
  width: "400px";
  position: "relative";
  padding: "10px 10px";
  height: "15px";
  
}