.MiNavigation {     
    height: 40px;
  }

  
.search-input {
  padding: 10px 10px;
  height: 52px;
  position: relative;
}
.select {
  height: 20px;
  width: 80%;
  margin: 5px auto 10px;
  background: center;
}

.selectAdd{
  height: 20px;
  width: 80%;
  margin: 30px auto 10px;
  background: center;
}

.MiFooter {
  height: 40px;
}
/*65px*/

.MiHeaderWhenLogged {
  height: 50px;
}

.DatePicker{
  height: 20px;
  width: 80%;
  

}

.MiInputField{
  height: 20px;
  

}

.EditField{
  height: 10px;
}

.MiModal { width: 50%  ;  min-height: 74%}
.MiModalVuelo { width: 50%  ;  min-height: 80%}

.MiTabla{ height: 5px;}

.MiSearchBar{
  width: "400px";
  position: "relative";
  padding: "10px 10px";
  height: "15px";
  
}